/APS100/
/APS110/
/APS111/
/APS112/
/APS162/
/CIV100/
/FSAELapTimer/
/MAT187/
/MAT188/
/MIE100/
/OSAP/
/Skule Nite/
*.m~
Important Passwords.txt
/ECE297/*.docx
/ECE241/
!/ECE241/Lab*/*/*.v
!/ECE241/Lab*/*/*.do
!/ECE241/Lab*/*/*.qsf
!/ECE241/Lab*/*/*.qpf
!/ECE241/Lab*/*/*.pdf
/Jr. Deep/
/ECE302/
/ECE342/Exam/
/ECE345/
/ECE361/ece361.vdi
/CLA203/
/CLA204/
/TEP444/
/PEY/
/APS420/
